path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
#bootstrap.memory_lock: true
#network.host: 127.0.0.1
http.port: 9200
#transport.host: localhost
#transport.tcp.port: 9300
#discovery.seed_hosts: ["192.168.0.7"]
#cluster.initial_master_nodes: ["127.0.0.1"]
discovery.type: single-node
#xpack.security.enabled: false
#cluster.name: elastic
#node.name: elastic
#node.master: true
es.enforce.bootstrap.checks: true
transport.host: localhost
network.host: _site_
discovery.zen.ping.multicast: false
cluster.name: channa_dev_machine 
node.local: true 